* {
    box-sizing: border-box;
    font-family: "Jost";
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.nestup-demo-root {
    display: flex;
    justify-content: left;
    margin-bottom: 2em;
}

.nestup-drum {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 1%;
    height: 35vh;
}

.codeFrame {
    border-radius: 15px;
    border-width: 2px;
    border: solid;
    border-color: lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.codeFrameFooter {
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
}

.nestup-drum.big {
    width: 100%;
    height: 70vh;
}

.nestup-drum.hidden {
    display: none;
}

.nestupVisualizerWrapper{
    width: 90%;
    height: 30px;
    margin-top: 8px;
    position: relative;
}

.nestup-visualizer {
    width: 100%;
    height: 100%;
}

.codeMirrorSizer {
    height: 100%;
    position: relative;
    margin-right: 15px;
}

.CodeMirror * {
    font-family: monospace;
}

.CodeMirror {
    background-color: transparent;
    color: whitesmoke;
    font-size: 16px;
    height: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 40px;
    position: absolute;
    top: 0;
    width: 100%;
}

.CodeMirror-cursor {
    border-color: whitesmoke;
}

.code-container {
    width: 100%;
    height: 72vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 6em;
}

.actionMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;
}
.actionMenu > * {
    margin-left: 24px;
}

.actionMenu svg {
    margin-left: 8px;
}

.root {
    background-color: #222232;
}

body {
    margin: 0;
    padding: 0;
}
  
#page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
}

a {
    color: orange;
}

.columns {
    display: flex;
}

.picker {
    width: 300px;
    color: whitesmoke;
    font-size: large;
    padding-left: 2em;
}

.pattern-elt {
    width: 100%;
    padding-top: 0.5em;
    margin: 0;
    cursor: pointer;
}

.pattern-elt:hover {
    color: orange;
}

.instrument-elt {
    width: 100%;
    padding-top: 0.5em;
    margin: 0;
    cursor: pointer;
}

.instrument-elt:hover {
    color: orange;
}

.instrument-elt.active {
    text-decoration: underline;
    font-weight: bold;
}

.leftMenu {
    flex-basis: 400px;
    background: #26264A;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nestupArea {
    background: #333366;
    flex: 1;
}

.App {
    display: flex;
    height: 100vh;
}

.menuHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
}

.menuHeader p {
    font-size: 24px;
    color: whitesmoke;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
}

.menuHeader p.chooser {
    cursor: pointer;
}

.menuHeader p.selected {
    text-decoration: underline;
}

.leftMenuPane {
    color: whitesmoke;
    font-size: 16px;
    padding: 8px;
    overflow-y: auto;
}

.leftMenuPane::-webkit-scrollbar {
    background: #26264A;
    width: 0.3em;
}

.leftMenuPane::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

.oneFourContainer {
    width: 100px;
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    justify-content: right;
    flex-flow: column;
    place-content: center;
    place-items: center;
    height: 100vh;
    color: whitesmoke;
}

.oneFourContainer .one {
    margin-bottom: 15px;
}

.oneFourContainer .four {
    margin-top: 15px;
}

.sideActionButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 75px;
    font-size: large;
    margin-right: 2em;
    padding-left: 15px;
    padding-right: 8px;
    border-bottom: 2px solid transparent;
    padding-bottom: 12px;
    position: relative;
}

.sideActionButton .oneFourIndicator {
    width: 55%;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 30%;
    background-color: transparent;
}

.sideActionButton.selected {
    color: orange;
}


.sideActionButton.selected .oneFourIndicator {
    border-bottom: orange solid 2px;
    background-color: orange;
}

.sideActionButton svg {
    width: 28px;
    margin-left: 8px;
}

.visualizerContainer {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

textarea {
    height: 100%;
}

.voiceLabel {
    color: whitesmoke;
    font-size: 16px;
}

.errortext {
	text-decoration: underline red;
	background-color: lightpink;
    color: black;
}

.errorBox {
	width: 100%;
	font-size: 16px;
	font-family: monospace;
    border-radius: 0px 0px 0px 11px;
    padding-left: 10px;
}

.errorBox.active {
    background-color: lightpink;
}

@keyframes blinkparse-keyframes {
    from {background-color: rgba(255, 140, 0, 0.5);}
    to {background-color: rgba(255, 140, 0, 0.0);}
}

.parseButton.blinkparse {
    animation: blinkparse-keyframes 500ms;
}

.parseButton {
    border-left: solid;
    border-top: solid;
    border-width: 2px;
    border-radius: 15px 0px 11px 0px;
    width: 100px;
    padding: 10px;
    border-color: orange;
    color: orange;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.parseButton:hover {
    text-decoration: underline;
}

.parseButton:active {
    text-decoration: underline;
    background-color: rgba(255, 140, 0, 0.5);
}

.parseButton p {
    cursor: pointer;
    user-select: none;
}

@keyframes blinktrigger-keyframes {
    0% {fill-opacity: 0.6}
    5% {fill-opacity: 1.0}
    100% {fill-opacity: 0.6}
}

.beatrect.beatblink {
    animation: blinktrigger-keyframes 500ms;
}

.beatrect {
    fill-opacity: 0.6;
}

.cheatTable {
    margin-left: 0px;
    padding-right: 0px;
    padding-top: 80px;
}

.exampleExpression {
    width: 50%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
    color: whitesmoke;
    background-color: transparent;
    height: auto;
}

.exampleImageCell {
    width: 70%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exampleImageCell img {
    width: 100%;
    height: 22px;
}

.cheatRow {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
}

.cheatCopiedOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0.0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    left: 0;
    top: 0;
    z-index: 25;
    pointer-events: none;
}

.showCopiedOverlay {
    animation: showCheatOverlayAnimation 2500ms;
}

@keyframes showCheatOverlayAnimation {
    0% {opacity: 1.0}
    50% {opacity: 1.0}
    100% {opacity: 0}
}

.cheatRow.highlight {
    border-color: whitesmoke;
    border-style: solid;
    margin-left: -1px;
    margin-right: -1px;
    border-width: 1px;
}

.cheatExplanation {
    width: 375px;
    font-size: 18px;
    height: 80px;
    position: absolute;
    background: #26264A;
    left: 0;
    z-index: 1;
    top: 120px;
    color: whitesmoke;
    padding-left: 8px;
}

.exampleCopy {
    margin-left: 15px;
    margin-right: 15px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clearButton {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    margin-top: 8px;
}

.clearButton.hidden {
    display: none;
}

.clearButton svg {
    width: 100%;
    height: 100%;
}

@keyframes playbutton-wiggle {
    from {
        color: whitesmoke;
        transform: scale(1.0, 1.0);
    }
    to {
        color: orange;
        transform: scale(1.5, 1.5);
    }
}

.playButton.pulsing {
    animation: playbutton-wiggle 1000ms ease-in-out 0s infinite alternate;
}

.playButton {
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
}

.playButton svg {
    width: 100%;
    height: 100%;
}

@keyframes showOverlay-keyframes {
    from {background-color: rgb(0, 0, 0, 0.0);}
    to {background-color: rgb(0, 0, 0, 0.8);}
}

@keyframes fadeIn-keyframes {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    margin: 0;
    animation: showOverlay-keyframes 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shareModal {
    width: 400px;
    height: 200px;
    background-color: black;
    border: solid;
    border-radius: 10px;
    animation: fadeIn-keyframes 200ms;
    position: relative;
    z-index: 15;
    display: flex;
}

.shareModalRow {
    display: flex;
    width: 90%;
    margin: auto;
}

.shareModal input {
    border-style: solid;
    padding: 10px;
    border-color: white;
    border-width: 2px;
    color: white;
    background-color: black;
    width: 100%;
}

.actionButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pattern-elt svg {
    margin-left: 8px;
}

.tempoInput {
    border: none;
    background-color: transparent;
    color: whitesmoke;
    font-size: 24px;
    width: 4.0em;
    cursor: ns-resize;
    -webkit-appearance: none;
    outline: none;
    margin-left: 2px;
    margin-right: 36px;
}

.tempoInput:focus {
    border: none;
}

.draggableNumberForm {
    margin-left: 8px;
}

.about {
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
}

.title {
    color: whitesmoke;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Spartan";
}