.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.nestup-demo-root {
    display: flex;
    justify-content: center;
}

.nestup-drum {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px;
    height: 350px;
}

.codeFrame {
    border-radius: 15px;
    border-width: 2px;
    border: solid;
    border-color: lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.codeFrameFooter {
    display: flex;
    align-items: flex-end;
}

.nestup-drum.big {
    width: 800px;
    height: 700px;
}

.nestup-drum.hidden {
    display: none;
}

.nestup-visualizer {
    width: 75%;
    height: 30px;
}

.CodeMirror {
    background-color: transparent;
    color: whitesmoke;
    font-size: 16px;
    height: 100%;
    margin: 10px;
}

.CodeMirror-cursor {
    border-color: whitesmoke;
}

.code-container {
    width: 840px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: center;
}

.root {
    background-color: #222232;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
  
#page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
}

a {
    color: orange;
}

.columns {
    display: flex;
}

.picker {
    width: 300px;
    height: 100%;
}

.pattern-elt {
    width: 100%;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
}

.pattern-elt:hover {
    color: #ffffff;
}

.instrument-elt {
    width: 100%;
    padding-top: 5px;
    margin: 0;
    cursor: pointer;
}

.instrument-elt:hover {
    color: #ffffff;
}

.instrument-elt.active {
    text-decoration: underline;
}

.leftMenu {
    width: 30%;
    background: #26264A;
}

.nestupArea {
    width: 70%;
    background: #333366;
}

.App {
    display: flex;
}

.menuHeader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuHeader p {
    font-size: 24px;
    color: whitesmoke;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
}

.menuHeader p.chooser {
    cursor: pointer;
}

.menuHeader p.selected {
    text-decoration: underline;
}

.leftMenuPane {
    color: whitesmoke;
    font-size: 16px;
    padding: 8px;
}

.oneFourContainer {
    width: 100px;
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    justify-content: right;
    flex-flow: column;
    place-content: center;
    place-items: center;
    height: 100vh;
}

.visualizerContainer {
    display: flex;
    justify-content: space-evenly;
}

textarea {
    height: 100%;
}

.voiceLabel {
    color: whitesmoke;
    font-size: 16px;
}

.errortext {
	text-decoration: underline red;
	background-color: lightpink;
    color: black;
}

.errorBox {
	width: 100%;
	font-size: 16px;
	font-family: monospace;
    border-radius: 0px 0px 0px 11px;
    padding-left: 10px;
}

.errorBox.active {
    background-color: lightpink;
}

@keyframes blinkparse-keyframes {
    from {background-color: rgba(255, 140, 0, 0.5);}
    to {background-color: rgba(255, 140, 0, 0.0);}
}

.parseButton.blinkparse {
    animation: blinkparse-keyframes 500ms;
}

.parseButton {
    border-left: solid;
    border-top: solid;
    border-width: 2px;
    border-radius: 15px 0px 11px 0px;
    width: 100px;
    padding: 10px;
    border-color: orange;
    color: orange;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.parseButton:hover {
    text-decoration: underline;
}

.parseButton:active {
    text-decoration: underline;
    background-color: rgba(255, 140, 0, 0.5);
}

.parseButton p {
    cursor: pointer;
    user-select: none;
}